@{
    ViewBag.Title = "Index";
}
<h2>Students</h2>
<table>
    <tr>
        @foreach (var dataColumn in ViewBag.AlienTable.Columns)
        {
            <th>@dataColumn.ColumnName</th>
        }
    </tr>
    @foreach (var alienRow in ViewBag.AlienTable.Rows)
    {
    <tr>
        @for (int i = 0; i < ViewBag.AlienTable.Columns.Count; ++i)
    {
        <td>@alienRow[i]</td>
}
    </tr>
    }
</table>
<br />