@{
    ViewBag.Title = "Index";
}
<h2>Students</h2>
<table>
    <tr>
        @foreach (var dataColumn in ViewBag.CustomerTable.Columns)
        {
            <th>@dataColumn.ColumnName</th>
        }
    </tr>
    @foreach (var customerRow in ViewBag.CustomerTable.Rows)
    {
    <tr>
        @for (int i = 0; i < ViewBag.CustomerTable.Columns.Count; ++i)
    {
        <td>@customerRow[i]</td>
}
    </tr>
    }
</table>
<br />